* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input, button{
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 10px;
    outline: none;
}

.label_text {
    padding: 10px;
}

.btn {
    cursor: pointer;
    width: 100%;
}

.error {
    color: red;
}

.grey {
    background-color: silver;
    border: none;
    text-align: center;
}

.selector {
    padding: 20px;
    cursor: pointer;
    width: 100%;
}

.body_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 300px;
    border: 5px solid black;
}

.head_select {
    height: 100px;
    width: 100px;
    background-size: contain;
}

.body_select {
    height: 300px;
    width: 200px;
    background-size: cover;
    background-position: center;
}

.head1 {
    background-image: url('https://www.vectorkhazana.com/assets/images/products/American-bird-Head.jpg');
}

.head2 {
    background-image: url('https://www.vectorkhazana.com/assets/images/products/Skull5.jpg');
}

.head3 {
    background-image: url('https://i.pinimg.com/736x/38/91/4d/38914d385b8824820241720b7457bcb5.jpg');
}

.body1 {
    background-image: url('https://freesvg.org/img/Body2.png');
    margin-top: -70px;
    margin-left: -10px;
}

.body2 {
    background-image: url('https://i.pinimg.com/originals/92/f8/87/92f887f01c664bebea2b524698e18995.jpg');
    margin-top: -110px;
    margin-left: -25px;
    width: 300px;
    height: 400px;
    z-index: -1;
}

.body3 {
    background-image: url('https://thumbs.dreamstime.com/b/headless-businessman-white-15788356.jpg');
    margin-top: -100px;
    margin-left: 10px;
    z-index: -1;
}