/*================================*\
  # Default Settings
\*================================*/

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://www.tripsavvy.com/thmb/MCLAm75RnLtoludJdMfZfZz_0H4=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-654013042-28f42fc82c544a9fb0f74458b85de713.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  text-shadow: #000 0px 0px 5px;
}

/*================================*\
  # Navigation Settings
\*================================*/

header {
  width: 400px;
  margin: 20px 0;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none;
  position: relative;
  overflow: hidden;
  padding: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

li:after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: -0%;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid gold;
  transition: 0.4s;
  z-index: -1;
}

li:hover:after {
  bottom: 0;
  box-shadow: 0 -20px 20px 5px brown;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

/*================================*\
  # Form Settings
\*================================*/

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 40px;
  border-radius: 30px;
  border: 10px solid black;
  background-image: linear-gradient(to left bottom, #e1d429, #ff913f, #fa5776);
}

input,
button,
select {
  padding: 20px;
  margin: 10px 0;
  width: 100%;
  border-radius: 10px;
  background-color: gold;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.label_text {
  color: white;
  font-weight: bold;
  margin: 10px 0;
}

.btn {
  width: 100%;
  margin: 20px 0;
  box-shadow: 0 9px rgb(200, 170, 0);
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(255, 220, 90);
  box-shadow: 0 7px rgb(200, 170, 0);
  transform: translateY(2px);
}

.btn:active {
  background-color: gold;
  box-shadow: 0 5px rgb(200, 170, 0);
  transform: translateY(4px);
}

.error {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.txt_area {
  padding: 10px;
}

/*================================*\
  # Grid Settings
\*================================*/

.grid_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid_card {
  padding: 30px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  background-color: snow;
  border: 5px solid black;
  border-radius: 10px;
  transition: 0.4s;
}

.grid_card:hover {
  transform: translateY(-8px);
}

.grid_card :first-child,
.grid_card :last-child {
  grid-column: span 2;
  justify-self: center;
}

.grid_card img {
  max-height: 140px;
  max-width: 200px;
  margin: 0 auto;
  border-radius: 5px;
}

/*================================*\
  # Add Post Settings
\*================================*/

.add_post label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add_post input {
  width: 60%;
}

.add_message {
  text-align: center;
  color: white;
  font-weight: bold;
}

/*================================*\
  # POOP-WALL Settings
\*================================*/

.poop_box {
  padding: 20px;
  background-color: rgba(165, 42, 42, 0.7);
  border: 5px solid gold;
  border-radius: 20px;
}

.poop_wall {
  height: 500px;
  width: 500px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(50, 10px);
}

.brick {
  height: 10px;
  width: 10px;
  position: absolute;
  z-index: 1;
}

.brick:hover .brick_tooltip {
  display: block;
}

.border_brick {
  height: 8px;
  width: 8px;
  border: 1px solid grey;
  background-color: transparent;
  transition: 2s;
}

.border_brick:hover {
  background-color: white;
  border-color: gold;
  transition: 0.01s;
}

.brick_tooltip {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  font-size: 10px;
  width: 60px;
  display: none;
  position: absolute;
  z-index: 2;
}

.border_brick:hover .brick_tooltip {
  display: block;
}
